@page
@model ServiceHost.Pages.ContactModel
@{
}
<!--page title start-->
<section class="section-gap section-top bg-gray text-center">
    <div class="hero-img bg-navy-overlay" data-overlay="8" style="background-image: url(../../Theme/assets/img/contact-banner.jpg);"></div>
    <div class="container"> 
        <div class="row justify-content-md-center align-items-center text-white py-lg-5">
            <div class="col-md-7">
                <!-- heading -->
                <h2 class="" style="color:white;">
                    تماس با ما
                </h2>
            </div>
        </div>
    </div>
</section>
<!--page title end-->
<!--intro start-->
<div class="section-gap">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center mb-lg-5 mb-4">
            <div class="col-md-6 mb-lg-5 mb-4">
                <h2 class="mb-4">ما اینجا هستیم تا به شما کمک کنیم</h2>
                <p class="text-muted">ما همیشه در کنار مشتریان خود هستیم و به خود می بالیم که مشتریان چون شما داریم!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="blurb blurb-border mb-4">
                    <i class="vl-building text-primary"></i>
                    <h6 class="mb-3">ساختمان استیل طاها</h6>
                    <p>آدرس : ایران - تهران، خیابان پامنار ، پاساژ صفی یاری ، فروشگاه میز و صندلی استیل طاها</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blurb blurb-border mb-4">
                    <i class="vl-envelop2 text-primary"></i>
                    <h6 class="mb-3">آدرس ایمیل </h6>
                    <p>steeltaha212@gmail.com</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blurb blurb-border mb-4">
                    <i class="vl-chat text-primary"></i>
                    <h6 class="mb-3">تلفن شرکت</h6>
                    <p>33965862 (021) - 
                       09127778145 (+98)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--intro end-->


<!--FAQ start-->
<div class="section-gap py-0">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center mb-lg-5 mb-4 pb-lg-5">
            <div class="col-md-8">
                <h2 class="mb-4">پرسش های متداول</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card p-4 mb-4">
                    <h6 class="mb-4">کار پرداخت و نحوه دریافت محصول چگونه انجام می شود؟</h6>
                    <p class="text-muted mb-0"> شما میتوانید از طریق فرم ثبت نام در سایت یک حساب کاربری برای خود ایجاد کرده
                        و پس از تکمیل مشخصات و مراحل فوق در صفحه ثبت نام توسط گزینه افزودن به سبد خرید محصول درخواستیان را 
                        در سبد فروشگاه اضافه نموده و پس از آن برای نهایی کردن ثبت سفارش روی سبد خرید کلیک کرده، باتوجه به صورت وضعیت فاکتور و تعداد محصول در خواستی اعم از تخفیفات ویژه میزان هزینه برای شما قابل نمایش و مشاهده می باشد که با کلیک کردن بروی دکمه تکمیل فرایند و نهایی کردن سفارش میتوانید پرداخت را به صورت نقدی در زمان تحویل کالا انجام دهید. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-4 mb-4">
                    <h6 class="mb-4">چگونه مارا در  شبکه های مجازی دنبال کنید؟</h6>
                    <p class="text-muted mb-0"> همچنین شما میتوانید در شبکه های مجازی مانند اینستاگرام از محصولات ما دیدن فرمایید.
                      نشانی ما در واتس آپ با شماره تماس  09127778145 حاضر می باشد.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-4 mb-4">
                    <h6 class="mb-4">آیا محصولات استیل طاها همواره از تخفیفات ویژه برخوردار است؟</h6>
                    <p class="text-muted mb-0">  بله ، فروشگاه استیل طاها همواره در نظر دارد در مناسبت ایام برای مشتریان خود محصولات خود را با نازلترین قیمت
                        در دسترس شما عزیزان قرار دهد.همچنین این امر میتواند با در نظر گرفتن تخفیفات به صورت همکاری نیز امکان پذیر باشد.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-4 mb-4">
                    <h6 class="mb-4">پس از چه مدت زمان طول می کشد که محصولتان را دریافت نمایید؟</h6>
                    <p class="text-muted mb-0"> پس از نهایی شدن ثبت سفارش از طریق سبد خرید تا کمتر از 12 ساعت کارشناسان ما با شما تماس خواهند گرفت و در صورت تاید در
                         خرید، محصول برای شما ارسال خواهد شد. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src="~/Theme/assets/img/contact-bottom.jpg" alt="">
</div>
<!--FAQ end-->

