@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ShowRequestId)
{
    @*<p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>*@
}

<section class="section-gap section-top ">
    <div class="container">
        <div class="row justify-content-md-center align-items-center text-lg-left text-center">
            <div class="col-md-4">
                <img class="mb-lg-0 mb-5" src="~/Theme/assets/img/error-icon.png" alt="">
            </div>
            <div class="col-md-5 pl-lg-5">
                <h1 class="font-size-60 text-primary">خطای 404</h1>
                <p>با عرض پوزش صفحه پیدا نشد</p>
                <a asp-page="/Index" class="btn btn-pill btn-theme">برگشت به صفحه اصلی</a>
            </div>
        </div>
    </div>
</section>